<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	Template edited by Alexia Mercier for Bicursiosité, 2018 
-->
<html>
	<head>
		<title>BICURSIOSITÉ</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/main.css" />
		<noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="{{ .Site.BaseURL}}" class="logo">
									<span class="symbol"><img src="../img/Logo_final_Bicursiosité.jpg" alt="" /></span><span class="title">BICURSIOSITÉ</span>
								</a>


						</div>
					</header>


				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Notre Association</h1>
							<!--<span class="image main"><img src="../img/bureau 2018.jpg" alt="" /></span>
							<p><i>Bureau 2018 : de gauche à droite : Bastien, Camille, Thaís, Minh Thi, Léa, Thomas, Hugo, Sam.</i></p> -->
						<h2>Origine</h2>
							<p>Depuis la création des doubles cursus en Sciences & Humanités, l’idée d’une association a plusieurs fois émergée. En 2017, Bicursiosité a enfin été créée avec pour ambition de réunir tout les doubles cursus et majeurs-mineurs des facultés des Lettres et des Sciences de Sorbonne Université (sciences & philosophie/histoire/musicologie/allemand/chinois/linguistique ainsi que lettres et informatique). </p>							
						<h2>But de l'association</h2>

						<ul>
							<li>Orienter et soutenir les nouveaux arrivants en double cursus et les aider à explorer les possibilités offertes par la formation.</li>
							<li>Décloisonner le double cursus et le rendre visible au sein de Sorbonne Université</li>
							<li>Organiser des événements qui permettent d’explorer l’interdisciplinarité et faciliter le dialogue entre discipline</li>
						</ul>
						<h2>L'équipe</h2>
						<table>
						<thead>
							<tr>
								<th>Fonction</th>
								<th>Responsable</th>
								<th>Cursus</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><b>Président</b></td>
								<td>Thomas Laville</td>
								<td>Géologie-Histoire 2014-2017, Doctorant en paléontologie (MNHN)</td>
							</tr>
							<tr>
								<td><b>Vice-Présidente</b></td>
								<td>Ariane Ravier</td>
								<td>Lettres-Informatique 2016-2019, M1 ANDROIDE à Sorbonne Université (Faculté des Sciences)</td>

							</tr>
							<tr>
								<td><b>Secrétaire</b></td>
								<td>Elsa Masson</td>
								<td>Mathématiques-Philosophie 2010-2013, Chargée de projets et de communication, Association Animath</td>
							</tr>
							<tr>
								<td><b>Trésorier</b></td>
								<td>Hugo Picq</td>
								<td>Mathématiques-Histoire 2014-2017, Préparation à l'agrégation d'Histoire à Sorbonne Université (Faculté des Lettres)</td>
							</tr>
							<tr>
								<td><b>Cellule Culture</b></td>
								<td>François Longo</td>
								<td>Sciences & Musicologie 2016 - 2019, Formation Supérieure aux Métiers du Son, Conservatoire National Supérieur de Paris</td>
							</tr>
							
							<tr>
								<td><b>Cellule Confluence</b></td>
								<td>Romane Mazzieri</td>
								<td>Chimie Histoire promotion 2015-2018, M1 Ecole du Louvre</td>
							</tr>
							<tr>
								<td><b>Cellule Site</b></td>
								<td>Minh Thi (Alexia) Mercier</td>
								<td>Chimie-Histoire 2014-2017, Fondatrice de Jussieu Technologies</td>
							</tr>
							<tr>
								<td><b>Cellule Communication</b></td>
								<td>Doria Bellache</td>
								<td>Biologie-Histoire 2015-2018, M2 “Sociétés et Biodiversité” (MNHN)</td>
							</tr>

						</tbody>
						</table>
						<h2>Mentions légales</h2> 
						<ul>
							<li> <a target="_blank" href="../files/formulaire-adhésion-bicu-final.odt">Formulaire d'adhésion</a></li>
							<li><a target ="_blank" href="https://www.helloasso.com/associations/bicursiosite/adhesions/adhesion-2018-2019?fbclid=IwAR1tsKbxvi5rMG5yQiNWLbZ-bYBHMDVdyZ_T-Ak4k0RINzIW_VxAL3lormc">Paiement de la cotisation en ligne</a></li>
							<li> <a target="_blank" href="../files/Statuts Bicursiosité.pdf">Statuts</a></li>
							<li> <a target="_blank" href="../files/Règlement-Intérieur.pdf">Réglement</a></li>
							<li> <a target ="_blank" href="../files/AG-bicursiosité-18.pdf">Compte-rendu AG 2018</a></li>
						</ul>
                        <h2>Parce qu'on ne les oublie pas!</h2>
                        <p><span class="image left"><img src="../img/Bureau2017.jpg" alt="" /></span>
                        <b>1er bureau Bicursiosité <br>2017-2018.</b><br>
                        <i>De gauche à droite : Alice, Hugo, Thibault, <br>Amélie, Sophie, <br>Thomas, Léane, Thaís, Yomara, <br>Hugo, Nathan</i></p>
                        <p><span class="image left"><img src="../img/bureau 2018.jpg" alt="" /></span>
                        <b>2e bureau Bicursiosité <br>2018-2019.</b><br>
                        <i>De gauche à droite : Bastien, Camille, Thaís, <br>Minh Thi, Léa, Thomas, <br>Hugo, Sam.</i></p>
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Contact</h2>
								<p> Envoyez nous un e-mail : <b>bicursiosite@ntymail.com</b></p> 
								<p><a href="https://my.sendinblue.com/users/subscribe/js_id/3312v/id/2" target="_blank"><b>Inscription à la Newsletter</b></a></p>
							</section>
							<section>
								<h2>Suivez nous !</h2>
								<ul class="icons">
									<li><a href="https://twitter.com/bicursiosite" target="_blank" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com/bicursiosite/" target="_blank" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/bicursiosite/" target="_blank" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://www.linkedin.com/company/bicursiosite/" target="_blank" class="icon style2 fa-linkedin"><span class="label">Linkedin</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>


		<!-- Scripts -->
			<script src="../js/jquery.min.js"></script>
			<script src="../js/browser.min.js"></script>
			<script src="../js/breakpoints.min.js"></script>
			<script src="../js/util.js"></script>
			<script src="../js/main.js"></script>

	</body>
</html>
