<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	Template edited by Alexia Mercier for Bicursiosité, 2018 
-->
<html>
	<head>
		<title>BICURSIOSITÉ</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/main.css" />
		<noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
    <style>
.collapsible {
    background-color:#e9b913;
  
    color: black;
    cursor: pointer;
    padding: 2px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
}

.active, .collapsible:hover {
    background-color: #204a87;
    background: transparent;
}

.contentcollapsible {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #1b1f22;
    background: transparent;
}
</style>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="{{ .Site.BaseURL}}" class="logo">
									<span class="symbol"><img src="../img/Logo_final_Bicursiosité.jpg" alt="" /></span><span class="title">BICURSIOSITÉ</span>
								</a>


						</div>
					</header>


				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Nos activites</h1>
							
							<!-- Slideshow container -->
<div class="slideshow-container">

  <!-- Full-width images with number and caption text -->
  
  <div class="mySlides fade">
    <div class="numbertext">1 / 14</div>
    <img src="../img/causerie2a.png" style="width:100%">
    <div class="text">Causeries Musicales 2e édition</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">2 / 14</div>
    <img src="../img/causerie2b.png" style="width:100%">
    <div class="text">Causeries Musicales 2e édition</div>
  </div>

  <div class="mySlides fade">
    <div class="numbertext">3 / 14</div>
    <img src="../img/causerie2c.jpg" style="width:100%">
    <div class="text">Causeries Musicales 2e édition</div>
  </div>
  
  <div class="mySlides fade">
    <div class="numbertext">4 / 14</div>
    <img src="../img/quizz_1.jpg" style="width:100%">
    <div class="text">Quizz L1-tégration</div>
  </div>
  
    <div class="mySlides fade">
    <div class="numbertext">5 / 14</div>
    <img src="../img/quizz_2.jpg" style="width:100%">
    <div class="text">Quizz L1-tégration</div>
  </div>
  
    <div class="mySlides fade">
    <div class="numbertext">6 / 14</div>
    <img src="../img/Philo_Jam_1.jpg" style="width:100%">
    <div class="text">Causeries Musicales 1ère édition</div>
  </div>
  
    <div class="mySlides fade">
    <div class="numbertext">7 / 14</div>
    <img src="../img/Philo_Jam_4.jpg" style="width:100%">
    <div class="text">Causeries Musicales 1ère édition</div>
  </div>
  
   <div class="mySlides fade">
    <div class="numbertext">8 / 14</div>
    <img src="../img/cine1.jpg" style="width:100%">
    <div class="text">Projection Discussion</div>
  </div>
  
   <div class="mySlides fade">
    <div class="numbertext">9 / 14</div>
    <img src="../img/cine2.jpg" style="width:100%">
    <div class="text">Projection Discussion</div>
  </div>
  
   <div class="mySlides fade">
    <div class="numbertext">10 / 14</div>
    <img src="../img/pluripiste1.jpg" style="width:100%">
    <div class="text">Pluripiste 1ère édition</div>
  </div>
  
   <div class="mySlides fade">
    <div class="numbertext">11 / 14</div>
    <img src="../img/pluripiste2.jpg" style="width:100%">
    <div class="text">Pluripiste 1ère édition</div>
  </div>

    <div class="mySlides fade">
    <div class="numbertext">12 / 14</div>
    <img src="../img/speedmeeting2019a.jpeg" style="width:100%">
    <div class="text">Trouve ton échange 2e édition</div>
  </div>

    <div class="mySlides fade">
    <div class="numbertext">13 / 14</div>
    <img src="../img/speedmeeting2019b.jpeg" style="width:100%">
    <div class="text">Trouve ton échange 2e édition</div>
  </div>

    <div class="mySlides fade">
    <div class="numbertext">14 / 14</div>
    <img src="../img/speedmeeting2019c.jpeg" style="width:100%">
    <div class="text">Trouve ton échange 2e édition</div>
  </div>
  
  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span>
  <span class="dot" onclick="currentSlide(4)"></span>
  <span class="dot" onclick="currentSlide(5)"></span>
  <span class="dot" onclick="currentSlide(6)"></span>
  <span class="dot" onclick="currentSlide(7)"></span>
  <span class="dot" onclick="currentSlide(8)"></span>
  <span class="dot" onclick="currentSlide(9)"></span>
  <span class="dot" onclick="currentSlide(10)"></span>
  <span class="dot" onclick="currentSlide(11)"></span>
  <span class="dot" onclick="currentSlide(12)"></span>
  <span class="dot" onclick="currentSlide(13)"></span>
  <span class="dot" onclick="currentSlide(14)"></span>
</div>
							
							<!-- Saison 2019-2020 -->	
							<button class="collapsible">Saison 2019-2020</button>
							<div class="contentcollapsible">
							<hr>
                            <h4>Speed-meeting "Trouve ton échange"</h4>
                            <p>En ce début d’année (octobre), nous organisons à nouveau un speed-meeting intergénérationnel qui se déroulera sur le campus Pierre et Marie Curie (ex. UPMC).<br> <b>“Trouve ton échange” </b>est un moyen pour mettre en relation les anciens des différents double-cursus avec les L1 et L2 qui devront choisir leur future destination à l’étranger de troisième année. <i>Le 24 octobre au foyer</i> </p>

                            <h4>Exposition témoignage - Un autre monde</h4>
                            <p>Dans le cadre de la journée internationale organisée par Sorbonne Université le 26 septembre, nous présentons une exposition témoignage sur les échanges à l'étranger durant le cursus universitaire. De nombreux anciens et anciennes étudiant.e.s ont décidé de partager leur expérience au travers de photos. Ces photos témoignent de comment leur échange leur a permis de voir le monde différemment, de voir un autre monde ! <br><i>A partir du lundi 23 septembre à l'Atrium</i></p>
                            
                            
                            <h4>Apéro Quizz L1tégration</h4>
							<p>On souhaite la bienvenue et on accueille les petits et petites L1 ! Venez rencontrer d'autres L1, des L2, des L3 mais aussi des anciens et anciennes ! La soirée commencera par un petit quiz, histoire de détendre l'atmosphère et de faire connaissance :) Alors on vient, on prend un soda, un jus de fraise, une bière ou autre et on se détend ! <i>Mercredi 11 septembre 2019 de 19:00 à 23:30 au 38M rue Mouffetard</i>
							</p>
              <hr>
              </div>
							
							<!-- Saison 2018-2019 -->
							
<button class="collapsible">Saison 2018-2019</button>
							<div class="contentcollapsible">
                <hr>
								<h4>Jeu de Pluripiste</h4>
							
							<p>Le samedi 1er Juin aura lieu le premier jeu de piste de l'association Bicursiosité. Il s'agit d'un jeu de piste dans Paris créé de A à Z par les membres de l'association. Des énigmes vous demanderont de vous rendre à certains lieux célèbres de Paris ayant pour dénominateur commun la pluridisciplinarité, chère à notre association. <br>
							Nous sommes conscients que la plupart d'entre vous ont la possibilités d'accéder à internet et nous avons prévu cela, donc pas d'avantages à eux. Les groupes seront fait par nos soins afin de mélanger les DCs et les promotions, il suffira d'un téléphone portable capable d'envoyer des photos (MMS, WhatsApp.....) par équipe. Le point de rendez-vous vous sera indiqué à l'avance... par une énigme évidemment !</p>
							
							
							<h4>Projection-discussion la révolution silencieuse</h4>
							
							<p>Bicursiosité & UPMCiné sont heureux de vous accueillir pour leur premier évènement commun : la projection de La révolution silencieuse (Lars Kraume, 2018). En RDA, en 1956, une classe de lycéens décide de faire une minute de silence en l'honneur des révolutionnaires hongrois qui s'opposent à la Russie. Cette minute de silence devient une affaire d'Etat pour le régime communiste et entraîne des conséquences pour les lycéens. <br>
							La projection commencera par une introduction sur le contexte historique. A la suite de la projection, une discussion aura lieu autour des thèmes historiques du film.<br>
							On vous attend donc nombreux le <i>jeudi 18 Avril à 18h15 dans l'amphi 45b à Jussieu</i> !</p>
							
							
							<h4>Causeries Musicales 3 : Etre, faire dans l'Art et les Sciences</h4>
							<p>C'est parti pour le 3e volet de la saga la plus attendue de Jussieu : la revanche des causeries musicales ! Pour ce nouveau chapitre, toujours de la musique, des débats et du bruit. <br>
							Pour ne pas changer, deux sujets seront abordés : <ul>
							<li>La science est elle une source de pouvoir ?</li>
							<li>Où est l'oubli dans l'Histoire ?</li></ul>
							Prêt.e à vous exploser le crâne et à vous écharper autour d'une bière ? 🤯 <i>RDV le mardi 19 mars au Baker street pub à partir de 19 h !</i></p>
							
							<h4>Causeries Musicales 2 : Etre, faire dans l'Art et les Sciences</h4>
							<p>Le jeudi 13 décembre au sous-sol du Baker Street Pub, des musiciens et musiciennes de Jussieu et des étudiants et étudiantes de tous les horizons se sont réunis autour de quelques bières pour une séance musicale et philosophique improvisée. Au programme, deux guitares et <b>deux sujets de discussion : d’une part, l’être et le faire et, d’autre part, la morale et les sciences.</b> </p>
								
							<p>Le premier sujet nous a amené à parler de l’homme et de ce qui le motive pour faire des choses, pour fabriquer des objets : serait-ce l’instinct de survie ? Ou plutôt le fait de savoir qu’un jour, il va mourir ? Dans sa vie, l’homme agit et crée des outils, des œuvres. Ces derniers, une fois créés, perdurent dans le temps malgré la mort du créateur. En ce sens, ces œuvres auraient une vie détachée de celle de leurs auteurs. Cela nous a conduit à nous poser la question suivante : « peut-on séparer l’homme de son travail, de sa production, de son œuvre ? », et d’ouvrir le débat vers la question de l’agir selon la morale. Ce fût une belle transition vers le second sujet " Morale et sciences ". 
							</p>

                            <p>Pour aborder le second sujet, nous avons comparé, dans un premier temps, les valeurs scientifiques et les valeurs morales, autrement dit, la vérité et le bien, la fausseté et le mal. Dans un second temps, nous avons abordé non seulement la question de la moralité du scientifique en tant qu’individu, mais aussi celle de la moralité de la recherche, ou plus précisément, de sa méthode et de ses fins. Centrales nucléaires, scientifiques nazis, études d’anatomie de la Renaissance ont été au cœur du débat. Puis, une dernière question a été soulevée : la science doit-elle s’adapter aux valeurs morales d’une société particulière ? Ou devrait-elle, pour progresser, transgresser ces valeurs-là ? <br>
                            <b>Une soirée chaleureuse, bohème, musicale et inoubliable. Un grand merci à tous ceux qui y ont participé !</b> <i>Daniela Restrepo</i></p>
                            
							<h4>Apéro Quizz L1tégration</h4>
							<p>Le 25 Octobre, les anciens et actuels étudiants en double cursus se sont rencontrés et sont venus tester leurs connaissances lors de l'apéro quiz !<br> Des questions sur la musique la peinture la littérature et le cinéma, la géographie l'histoire et la ville de Paris, le sport, et enfin les sciences théoriques et expérimentales !  
						<hr>
</div>
							
						
						<!-- Saison 2017-2018-->
<button class="collapsible">Saison 2017-2018</button>
							<div class="contentcollapsible">
                <hr>
							<h4>Speed Meeting, trouve ton avenir</h4> 

							<h4>Causeries musicales - café philo jam</h4>
								<p>Entre bicus, en général on aime bien débattre, la musique et boire, comme tout le monde quoi. Donc on à décider de faire les 3 en même temps mais en proposant des débats qui dépasse les barrières disciplinaires, parce qu’on aime bien ça aussi. Au programme donc Jam session proposée par les géniaux sciences-musicologie, les roots des doubles cursus, entrecoupée de discussion sur des thèmes recoupant sciences et sociétés : ici exemples des thèmes de la dernière fois </p>
								

							<h4>Apéro DCompression fin d'année</h4>  
						<hr>
</div>			

							
						</div>
					</div>

				<!-- Footer -->
				<footer id="footer">
						<div class="inner">
							<section>
								<h2>Contact</h2>
								<p> Envoyez nous un e-mail : <b>bicursiosite@ntymail.com</b></p> 
								<p><a href="https://my.sendinblue.com/users/subscribe/js_id/3312v/id/2" target="_blank"><b>Inscription à la Newsletter</b></a></p>
							</section>
							<section>
								<h2>Suivez nous !</h2>
								<ul class="icons">
									<li><a href="https://twitter.com/bicursiosite" target="_blank" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com/bicursiosite/" target="_blank" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/bicursiosite/" target="_blank" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://www.linkedin.com/company/bicursiosite/" target="_blank" class="icon style2 fa-linkedin"><span class="label">Linkedin</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>
			</div>


		<!-- Scripts -->
			<script src="../js/jquery.min.js"></script>
			<script src="../js/browser.min.js"></script>
			<script src="../js/breakpoints.min.js"></script>
			<script src="../js/util.js"></script>
			<script src="../js/main.js"></script>
			<script src="../js/slideshow.js"></script>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var contentcollapsible = this.nextElementSibling;
    if (contentcollapsible.style.display === "block") {
      contentcollapsible.style.display = "none";
    } else {
      contentcollapsible.style.display = "block";
    }
  });
}
    </script>

	</body>
</html>
