<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	Template edited by Alexia Mercier for Bicursiosité, 2018 
-->
<html>
	<head>
		<title>BICURSIOSITÉ</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/main.css" />
		<noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
<style>
.collapsible {
    background-color:#e9b913;
  
    color: black;
    cursor: pointer;
    padding: 2px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 20px;
}

.active, .collapsible:hover {
    background-color: #204a87;
    background: transparent;
}

.contentcollapsible {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #1b1f22;
    background: transparent;
}
</style>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="{{ .Site.BaseURL}}" class="logo">
									<span class="symbol"><img src="../img/Logo_final_Bicursiosité.jpg" alt="" /></span><span class="title">BICURSIOSITÉ</span>
								</a>


						</div>
					</header>


				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Les doubles cursus</h1>
							<p> Sorbonne Universite propose une multitude de double cursus. Clique sur la section qui t'interesse !</p>

							<button class="collapsible">Sciences & Histoire</button>
							<div class="contentcollapsible">
							<p> Il s'agit de deux licences disinctes qui ne partagent pas de cours en commun. L1 et L2 en France, L3 à l'étranger.<br>
							<b>Partie Sciences</b>: Lors du S1 de la L1, deux combinaisons sont proposées : Maths, Biologie et Physique, ou Maths, Biologie et Chimie. Lors du S2 de la L2, il faut choisir une combinaison de 2 disciplines scientifiques : Maths & Physique, Maths & Info, Bio & Chimie, ou Chimie & Géologie. Le choix finale de spécialisation en sciences s'effectue à l'entrée de la L2. Les cours sont suivis à Jussieu. <br>
							<b>Partie Histoire</b>: Il s'agit d'une licence d'histoire générale. Lors de la L1, 3 matières dans 3 périodes distinctes sont suivies : antique, médiévale, moderne, et en L2 une matière supplémentaire est ajoutée en histoire contemporaine. En L2, le choix des matières est à la carte dans chaque période (en fonction des goûts et contraintes d'emplois du temps).<br>
Volume horaire de 18 heures environ en L2. Les cours sont suivis au campus de Clignancourt.</p>

</div>
							<button class="collapsible">Sciences & Philosophie</button>
							<div class="contentcollapsible">						
								<p> Il s'agit de deux licences disinctes qui ne partagent pas de cours en commun.. L1 et L2 en France, L3 à l'étranger.<br> 
								<b>Partie Sciences</b>: lors du S1 de la L1, deux combinaisons sont proposées : Maths, Biologie et Physique, ou Maths, Biologie et Chimie. Lors du S2 de la L2, il faut choisir une combinaison de 2 disciplines scientifiques : Maths & Physique, Maths & Info, Bio & Chimie, ou Chimie & Géologie. Le choix finale de spécialisation en sciences s'effectue à l'entrée de la L2. Les cours sont suivis à Jussieu.<br>
<b>Partie Philosophie</b>: à chaque semestre, trois UE de philo: philosophie générale + histoire de la philosophie + philosophie “scientifique” (pensée critique au S1, philosophie des sciences au S2, logique formelle au S3, éthique au S4), Total de 9 heures par semaine. En L2, ajout d’une option (un cours de 2 heures chaque semaine). Possibilités variées: éthique de l’environnement, philosophie du féminisme, de la communication, politique, existentialisme, philosophie antique… Les cours sont suivis au campus de Clignancourt.
</p> </div>
							<button class="collapsible">Sciences & Musicologie</button>
							<div class="contentcollapsible">
								<p>En construction</p></div>
							<button class="collapsible">Sciences & Allemand</button>
							<div class="contentcollapsible">
								<p>Il s'agit de deux licences distinctes qui ne partagent pas de cours en commun. L1 et L2 en France, L3 en pays germanophone via le programme Erasmus.<br>
                                <b>Partie Sciences</b> : Lors du S1 de la L1, trois UE à suivre : Mathématiques, Chimie et Biologie – l’on ne poursuit que dans deux matières au S2. Spécialisation dans l’une de ces matières à l’entrée en L2. Les cours ont lieu à Jussieu.<br>
                                <b>Partie Allemand</b> : Lors de la L1, quatre UE à suivre chaque semestre : Langue et Linguistique Allemande (grammaire, phonétique/prosodie, traduction et expression orale), Littératures de langue allemande, Histoire et Civilisation ainsi que Méthodologie. En L2, l’UE de Langue et Linguistique Allemande est approfondie et les étudiant.e.s devront choisir chaque semestre deux UE parmi Littératures de langue allemande, Histoire et civilisation et Histoire des idées allemandes (en s’assurant d’avoir, sur la période de la L2 à la L3, pris chaque UE au moins une fois). De plus, une UE d’Anglais pour germanistes chaque semestre (ou d’Anglais scientifique si, par conflit d’emploi du temps, cette UE est suivie à Jussieu). Les cours ont lieu à Malesherbes.<br>
								 </p>
								 </div>
							<button class="collapsible">Lettres et Informatique</button>
							<div class="contentcollapsible">
								<p>Il s'agit de deux licences distinctes. Le dernier semestre de L3 se fait à l'étranger.<br>
								<b>Partie Sciences</b> : La L1 suit le cursus MIPI (Mathématiques, Informatique, Physique et Ingénierie), et contient donc des cours de physique et de mathématiques en plus des cours d'informatique. À partir de la L2, il s'agit d'un cursus d'informatique exclusivement : apprentissage des principaux langages de programmation, algorithmique, bases de données, etc. L'intégralité du cursus se fait à Jussieu.<br>
								<b>Partie Lettres</b> : Les cours sont choisis parmi ceux des licences LEMA (Littérature, Édition, Média et Audiovisuel) et de lettres modernes. 3 UE sont récurrentes chaque semestre : Littérature française, Langue française et Écrire et penser la fiction. Un semestre sur deux, la quatrième UE porte sur un sujet de littérature comparée ; lors de l'autre semestre, c'est une UE d'anglais. Les cours de L1 et L2 ont lieu à Malesherbes ; le premier semestre de L3 se fait en Sorbonne.<br>
                                <i>Addendum</i> : Lors du premier semestre de L1, un cours d'humanités numériques, portant sur l'intersection entre lettres et informatique, est dispensé à Malesherbes. Ce cours n'est donné qu'aux étudiants de ce double-cursus.

 
 

</p></div>
							<button class="collapsible">Sciences & Chinois</button>
							<div class="contentcollapsible">
								<p>Il s'agit d'un programme Majeur/Mineur, et non de deux licences. Une seule licence de sciences est délivrée.Dernier semestre de L3 en pays synophone<br>
								<b>Partie Sciences</b> :18 ECTS. L1 choix entre MIPI (maths informatique physique ingénierie) ou BGC (biologie géologie Chimie) (avec une matière en moins). L2 et L3 une seule discipline scientifique, 3-4 UEs. Cours suivis à Jussieu<br>
								<b>Partie Chinois</b> :12 ECTS. De la L1 à la L3 : 9h de chinois dont 7h de langue (Compréhension écrite et orale, expression écrite et orale, lexique) et 2h de civilisation en français (une partie en chinois en L3). Cours suivis à Malehserbes

								</p>
								</div>
							<button class="collapsible">Majeur Mineur</button>
							<div class="contentcollapsible">
								<p>En construction</p></div>
							</div>	
							</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Contact</h2>
								<p> Envoyez nous un e-mail : <b>bicursiosite@ntymail.com</b></p> 
									<p><a href="https://my.sendinblue.com/users/subscribe/js_id/3312v/id/2" target="_blank"><b>Inscription à la Newsletter</b></a></p>
							</section>
							<section>
								<h2>Suivez nous !</h2>
								<ul class="icons">
									<li><a href="https://twitter.com/bicursiosite" target="_blank" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com/bicursiosite/" target="_blank" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/bicursiosite/" target="_blank" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://www.linkedin.com/company/bicursiosite/" target="_blank" class="icon style2 fa-linkedin"><span class="label">Linkedin</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>


		<!-- Scripts -->
			<script src="../js/jquery.min.js"></script>
			<script src="../js/browser.min.js"></script>
			<script src="../js/breakpoints.min.js"></script>
			<script src="../js/util.js"></script>
			<script src="../js/main.js"></script>
<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var contentcollapsible = this.nextElementSibling;
    if (contentcollapsible.style.display === "block") {
      contentcollapsible.style.display = "none";
    } else {
      contentcollapsible.style.display = "block";
    }
  });
}
    </script>

	</body>
</html>
