<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	Template edited by Alexia Mercier for Bicursiosité, 2018 
-->
<html>
	<head>
		<title>BICURSIOSITÉ</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/main.css" />
		<noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="{{ .Site.BaseURL }}" class="logo">
									<span class="symbol"><img src="../img/Logo_final_Bicursiosité.jpg" alt="" /></span><span class="title">BICURSIOSITÉ</span>
								</a>


						</div>
					</header>

				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Les Anciens</h1>
							<span class="image main"><img src="XX" alt="" /></span>
							<h3>Témoignages</h3>
							<h4>Mélissa Morel, Chimie-Histoire 2012-2015, en deuxième année de doctorat à l’Université de Fribourg (Suisse) en archéométrie.</h4>
								<blockquote> Je suis arrivée en double-cursus dans l’optique de continuer en Master Archéométrie, c’est à dire appliquer les sciences dites “exactes” aux matériaux archéologiques. La double formation m’a clairement permis d’acquérir des compétences dans deux domaines éloignés. Au delà des connaissances brutes, j’ai appris une rigueur de recherche et de rédaction ainsi qu’un esprit critique en Histoire et des bases solides en Sciences, et pas uniquement en Chimie, afin de pouvoir comprendre les méthodes analytiques et être capable de mettre en place une stratégie d’analyse adaptée. 
Ces doubles compétences m’ont avantagée, notamment dans la recherche d’une bourse de thèse ou même pour des stages, face à un étudiant sortant d’une filière classique. Le double-cursus a l’avantage d’intriguer quand il est cohérent avec un projet professionnel pluridisciplinaire. 
</blockquote> 
							<h4>Estelle Nakul, Biologie-Philosophie 2011-2014, en troisième année de thèse de neurosciences à Aix-Marseille Université.</h4>
								<blockquote> Passionnée de philosophie et de sciences, le double cursus “Sciences-Philosophie” représentait la formation idéale pour moi...et ce fut en effet une très belle expérience, aussi bien intellectuelle qu’humaine ! J’ai passé ma troisième année à l’université de York, en Angleterre, ce qui a aussi été une expérience très enrichissante. 
Intéressée par la philosophie de l’esprit et la phénoménologie sans vouloir perdre ma double compétence en sciences, je me suis naturellement intéressée aux neurosciences. J’ai obtenu mon Master de Neurosciences à Aix-Marseille Université, où je termine actuellement ma thèse. Les connaissances générales et interdisciplinaires, le recul, les compétences organisationnelles et rédactionnelles acquises pendant le double-cursus m’ont certainement aidée dans la réussite de ce master.  
Je travaille maintenant sur le système vestibulaire et la conscience corporelle de soi, sujet qui me permet d’allier neurosciences et philosophie et d’être en contact avec une communauté de chercheurs interdisciplinaires. 
</blockquote>
							<h4>Pauline, Biologie et Histoire, 2014-2017, Maîtrise en environnement et développement durable, option gestion de la biodiversité (Université de Montréal, Québec)</h4>
								<blockquote>Un an après avoir terminé le double cursus (parcours biologie et histoire), j’ai un regard assez mitigé sur mon expérience. Côté positif, le double cursus m’a définitivement apporté une plus grande ouverture d’esprit, l’opportunité de rencontrer des gens passionnés (et des très bons amis!), de faire partie d’une promo soudée, et surtout d’avoir une discipline de travail rigoureuse. Cependant, le double cursus comporte plusieurs lacunes. Premièrement, il était souvent difficile de faire concilier les emplois du temps des deux disciplines, nous obligeant à s’absenter de certains cours pour en suivre d’autres en même temps. De plus - et c’est là le plus gros problème à mes yeux - de mon expérience, le double cursus ne donne pas une formation suffisante dans les domaines scientifiques (notamment car la troisième année se donne à l’étranger et nous n’avons donc pas la totalité des cours d’une licence dans la discipline scientifique). La licence ne contient aucun stage, ni cours terrain obligatoire (en tout cas en biologie), et tout ce que nous apprenons est purement théorique. Or, pour continuer dans le domaine scientifique après, cela peut être assez problématique. En prenant du recul, je crois que j’aurais préféré ne choisir qu’une simple licence et de m’y investir à 200%, quitte à faire plus de stages pendant mes années de licence, ou encore m’impliquer dans des projets annexes qui donnent une expérience pratique parfois préférable à celle théorique apportée par le double cursus.</blockquote>
							<h4>François, Sciences & Musicologie, 2016-2019, en échange à l’Université de Montréal</h4>
							<blockquote>J’ai toujours voulu m’orienter vers les techniques du son, que ça soit dans le cinéma ou la musique, sound design, … Mais je voulais pas non plus m’arrêter à Bac+2 avec un BTS. De plus, bien qu’étant accepté à la prépa Ciné-Sup à Nantes, finir un cursus sans avoir de diplômes est-ce une bonne idée ?
La double licence ouvre beaucoup de portes et on y prend le temps d’affiner son projet, mieux comprendre ce qu’on cherche à faire.
Ce sont principalement les raisons qui m’ont poussées ici. Mais après avoir suivi une bonne partie de l’enseignement de ce DC, je confirme que ce cursus m’a beaucoup apporté, et m’en apportera encore !<br>

L’enseignement y est très varié, mais en L1 ça reste très divisé entre sciences d’un côté, musico de l’autre. A partir de la L2 des enseignements spécifiques Sciences & Musico nous sont proposés. Ce sont des cours plus techniques. Certains sont des travaux de groupes où on doit expérimenter différents aspects de la facture instrumentale, on apprend scientifiquement les instruments et la musique. Un cours d’informatique musicale aussi (Pure Data pour les initiés, c’est cool vous verrez !), et des cours de techniques studio par notre responsable nous sont même proposés.<br>
Le semestre à l’étranger, ça peut faire peur, mais c’est vraiment une opportunité d’affiner son projet, pour se préparer pour ce qu’on veut faire ensuite, voire chercher encore ! Pour ma part, j’ai pris une grosse majorité de cours de techniques du son, d’enregistrement, …
Les cours à l’étranger n’ont rien à voir avec ceux en France, profite-en pour prendre des trucs qui te branchent ! <br>

Le gros plus de la Sciences & Musico, c’est la diversité de sa promo, vraiment. Petite classe (entre 15 et 20 en L1), mais que de profils différents. Certains vont être plus branchés Sciences que musico, d’autres l’inverse. Certains vont continuer en école d’ingé, d’autres en conservatoire. L’enseignement de ce DC passe aussi par ce que peuvent t’apporter tes camarades, et ça seuls les SM peuvent comprendre !
</blockquote>
							<h2>Statistiques</h2>
							<div class="flourish-embed" data-src="visualisation/798578"></div><script src="https://public.flourish.studio/resources/embed.js"></script>
							
						</div>
					</div>

				<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>Contact</h2>
								<p> Envoyez nous un e-mail : <b>bicursiosite@ntymail.com</b></p> 
								<p><a href="https://my.sendinblue.com/users/subscribe/js_id/3312v/id/2" target="_blank"><b>Inscription à la Newsletter</b></a></p>
							</section>
							<section>
								<h2>Suivez nous !</h2>
								<ul class="icons">
									<li><a href="https://twitter.com/bicursiosite" target="_blank" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com/bicursiosite/" target="_blank" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/bicursiosite/" target="_blank" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://www.linkedin.com/company/bicursiosite/" target="_blank" class="icon style2 fa-linkedin"><span class="label">Linkedin</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="../js/jquery.min.js"></script>
			<script src="../js/browser.min.js"></script>
			<script src="../js/breakpoints.min.js"></script>
			<script src="../js/util.js"></script>
			<script src="../js/main.js"></script>

	</body>
</html>
