<!DOCTYPE HTML>
<!--
	Phantom by HTML5 UP
	Template edited by Alexia Mercier for Bicursiosité, 2018 
-->
<html>
	<head>
		<title>BICURSIOSITÉ</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../css/main.css" />
		<noscript><link rel="stylesheet" href="../css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="{{ .Site.BaseURL}}" class="logo">
									<span class="symbol"><img src="../img/Logo_final_Bicursiosité.jpg" alt="" /></span><span class="title">BICURSIOSITÉ</span>
								</a>


						</div>
					</header>



				<!-- Main -->
					<div id="main">
						<div class="inner">
							<h1>Carte des échanges</h1>
<p>Cliquez en haut à droite de la carte pour l'ouvrir en grand dans un nouvel onglet !</p>
<p>			
<iframe src="https://www.google.com/maps/d/embed?mid=1h689uxXBJpWx_fuJxvyOevSQ_aN5JU6a&hl=en" width="1400" height="800"></iframe></p>



						</div>
					</div>
			<!-- Footer -->
				<footer id="footer">
						<div class="inner">
							<section>
								<h2>Contact</h2>
								<p> Envoyez nous un e-mail : <b>bicursiosite@ntymail.com</b></p> 
								<p><a href="https://my.sendinblue.com/users/subscribe/js_id/3312v/id/2" target="_blank"><b>Inscription à la Newsletter</b></a></p>
							</section>
							<section>
								<h2>Suivez nous !</h2>
								<ul class="icons">
									<li><a href="https://twitter.com/bicursiosite" target="_blank" class="icon style2 fa-twitter"><span class="label">Twitter</span></a></li>
									<li><a href="https://www.facebook.com/bicursiosite/" target="_blank" class="icon style2 fa-facebook"><span class="label">Facebook</span></a></li>
									<li><a href="https://www.instagram.com/bicursiosite/" target="_blank" class="icon style2 fa-instagram"><span class="label">Instagram</span></a></li>
									<li><a href="https://www.linkedin.com/company/bicursiosite/" target="_blank" class="icon style2 fa-linkedin"><span class="label">Linkedin</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>


		<!-- Scripts -->
			<script src="../js/jquery.min.js"></script>
			<script src="../js/browser.min.js"></script>
			<script src="../js/breakpoints.min.js"></script>
			<script src="../js/util.js"></script>
			<script src="../js/main.js"></script>

	</body>
</html>
